header{
    background-color: #39720C;
    color: #ffffff;
    padding: 4px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

header h1{
    font-size: 40px;
    font-family: 'Leckerli One', cursive;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

#UserNameHeader{
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#PasswordHeader{
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#login h2{
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#login ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#login li {
    padding: 20px;
    float: none;
}

#login{
    text-align: center;
    padding: 12px;
    font-size: 20px;
    padding : 10px 60px;
}

#register{
    text-align: center;
    padding: 12px;
    font-size: 20px;
    padding : 10px 60px;
}

#register ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#register li {
    padding: 20px;
    float: none;
}

#cancel {
    text-align: center;
    padding: 6px;
    font-size: 14px;
    padding : 8px 30px;
}

#username{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#password{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#confirmPassword{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}